*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: _$darkGrey;
    font-weight: 300;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.3;
}
