.btn{
    display: inline-block;
    line-height: 1;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    text-align: center;
    font-size: 0.75rem;
    text-decoration: none;
    
    @mixin smallScreen{
        font-size: 0.915rem;
    }
    @mixin mediumScreen{
        padding: 0.75rem 1.5rem;
    }
    
    &-blue{
        color: #FFF;
        background-color: $mainBlue;
    }
    &:hover{
        background-color: $btnHoverBlue;
    }
}